@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
.sidebar-scroll {
  overflow-y: auto;
  height: 100vh;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #042954;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #ffc107;
  border-radius: 10px;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #ffb300;
}

html, body{
  font-family: "Outfit", sans-serif;
}